version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      time: "10:00"
      timezone: "America/Detroit"
    groups:
      "@remix-run":
        patterns:
          - "@remix-run/*"
      fastify:
        patterns:
          - "@fastify/*"
          - fastify
